 <% if @newsletterEmail %>
      <h2><%= @success %><%= @newsletterEmail %></h2>
    <% else %>
    <% end %>

<div class="center jumbotron">
    <h1>Online Fashion Store</h1>
    <h2>Welcome, Shop with us Online and Buy Clothes
    <!--<a href="https://www.rmit.edu.au/"> Visit me here</a>--></h2>
    <p><%= link_to "Login now!", '#', class: "btn btn-lg btn-primary"%></p>
</div>

<!--<h1>Online Fashion Store</h1>-->

<!--<h1> Shopping Cart <!%= @mencoat %> </h1>-->
<!--<a href=cart><!%= image_tag("cart.png", :alt => "cart icon", :size => "50x50",) %></a>-->
<p>&nbsp</p>

<center>
    <div class="divpop1">
      <% product = @random_unsaved_product %>
      <%= image_tag(product[:image], :alt => product[:alt], :size => "250x250", :name => product[:name], :id => product[:id]) %>
        <p id="text" style="margin-right: 20px;" ><b><%=product[:text]%></b></p>
      <%= link_to 'Save', saved_list_path(id: product[:id], redirect_to: :main_page), :id => 'save', method: :put, :style => 'margin-right: 85px;'%>
    </div>
</center>
<p>&nbsp</p>
<p>&nbsp</p>
<h2 style="font-size:30px";> Popular</h2>

<div class="center-block">
    <div class="divpop2">
      <%= image_tag("mencoat.png", :alt => "coat image", :size => "250x250", :name => 'mencoat', :id => 'mencoat') %>
      <!--%= text_field_tag 'mencoat', @mencoat %-->
      <p id="text"><b>Blue Mens Coat $29.99</b></p>
      <center><p>Popularity Score: 10/10</p></center>
      <% if session[:saved_list].include?(:mencoat.to_s) %>
        <%= link_to 'Deselect', saved_list_path(id: :mencoat, deselect: true), :id => 'save', method: :put %>
      <% else %>
        <%= link_to 'Save', saved_list_path(id: :mencoat), :id => 'save', method: :put %>
      <% end %>
      <%#= submit_tag 'Add to Cart', :id => 'add' %>
    </div>

    <div class="divpop2">
      <%= image_tag("womenscoat.png", :alt => "coat image", :size => "250x250", :name => 'womenscoat', :id => 'womenscoat') %>
      <!--%= text_field_tag 'mencoat', @mencoat %-->
      <p id="text"><b>Yellow Womens Coat $29.99</b></p>
      <center><p>Popularity Score: 9/10</p></center>
      <% if session[:saved_list].include?(:womenscoat.to_s) %>
        <%= link_to 'Deselect', saved_list_path(id: :womenscoat, deselect: true), :id => 'save', method: :put %>
      <% else %>
        <%= link_to 'Save', saved_list_path(id: :womenscoat), :id => 'save', method: :put %>
      <% end %>
      <%#= submit_tag 'Add to Cart', :id => 'add' %>
    </div>

    <div class="divpop2">
      <%= image_tag("pinkGirlsJacket.png", :alt => "coat image", :size => "250x250", :name => 'pinkGirlsJacket', :id => 'pinkGirlsJacket') %>
      <!--%= text_field_tag 'mencoat', @mencoat %-->
      <p id="text"><b>Pink Girls Jacket $15.00</b></p>
      <center><p>Popularity Score: 7/10</p></center>
      <% if session[:saved_list].include?(:pinkGirlsJacket.to_s) %>
        <%= link_to 'Deselect', saved_list_path(id: :pinkGirlsJacket, deselect: true), :id => 'save', method: :put %>
      <% else %>
        <%= link_to 'Save', saved_list_path(id: :pinkGirlsJacket), :id => 'save', method: :put %>
      <% end %>
      <%#= submit_tag 'Save', :id => 'save' %>
      <%#= submit_tag 'Add to Cart', :id => 'add' %>
    </div>

    <div class="divpop2">
      <%= image_tag("RedHoodie.png", :alt => "coat image", :size => "250x250", :name => 'RedHoodie', :id => 'RedHoodie') %>
      <!--%= text_field_tag 'mencoat', @mencoat %-->
      <p id="text"><b>Red Hoodie $15.00</b></p>
      <center><p>Popularity Score: 8/10</p></center>
      <% if session[:saved_list].include?(:RedHoodie.to_s) %>
        <%= link_to 'Deselect', saved_list_path(id: :RedHoodie, deselect: true), :id => 'save', method: :put %>
      <% else %>
        <%= link_to 'Save', saved_list_path(id: :RedHoodie), :id => 'save', method: :put %>
      <% end %>
      <%#= submit_tag 'Save', :id => 'save' %>
      <%#= submit_tag 'Add to Cart', :id => 'add' %>
    </div>

<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<div class="border"></div>
<center><h2 style="font-size:30px";>Collections</h2></center>
<a class="collections1" href="men">Men <br> 11 Items
    <!--<div class="collections1">-->
      <%#= link_to 'Men', men_url%>

    <!--</div>-->
</a>

<a class="collections1" href="women">Women <br> 11 Items
    <!--<div class="collections1">-->
      <%#= link_to 'Women', women_url%>

    <!--</div>-->
</a>
<a class="collections1" href="kids">Kids <br> 10 Items

</a>
<a class="collections1" href="new">New-ins <br> 8 Items

</a>
    <div class="collectionsAll">
      <%= link_to 'See All', seeAll_url%>
    </div>

</div>



<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

<center>
<div class="newsletter">
  <div class="border"></div>
    <h2 style="font-size:30px";>Newsletter</h2>
    <p>Sign up with our newsletter</p>

    <%= form_tag action: 'index' do %>
    <%= email_field_tag 'newsletterEmail', @newsletterEmail, :placeholder=>"Type an email address",:pattern=>"^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$",:multiple => true, :required => true %>
    <%= submit_tag 'Sign Up', :id => 'newsletterSignUp' %>
    <%#= email_field_tag 'to[]','' ,:placeholder=>"Type an email address",:pattern=>"^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$",:multiple => true%>
    <% end %>


</div>
</center>
